.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: var(--black-color);
  transition: all .7s ease;
  animation: scale-up-tr .8s cubic-bezier(.39, .575, .565, 1) both;
  visibility: visible;
  z-index: 2;
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  width: 100%;
  height: 3.26rem;
  padding: .6rem 1.25rem;
}

.menu__logo {
  font-family: 'OpenSans-ExtraBold', sans-serif;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .01rem;
}

.menu__content {
  display: flex;
  visibility: visible;
  width: 100%;
  padding: 5rem 1.25rem 0 1.25rem;
}

.menu__list {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100%;
}

.menu__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  border-bottom: 0.3px solid var(--dark-border-color);
  visibility: visible;
  cursor: pointer;
}

.menu__items:last-child {
  border: none;
}

.menu__items a {
  display: flex;
  visibility: visible;
  text-decoration: none;
  color: var(--white-color);
  font-family: 'Teko-Regular', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 2.9rem;
  transition: .4s;
}

.menu__landen {
  display: none;
  visibility: hidden;
}

.menu__social {
  display: none;
  visibility: hidden;
}

.menu__triangle-icon {
  display: none;
  visibility: hidden;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(63deg)
    brightness(104%) contrast(103%);
  margin-right: .3rem;
}

.menu__items a > .menu__triangle-icon {
  height: 2rem;
}

.menu__menu-icon {
  display: flex;
  visibility: visible;
  align-items: center;
  cursor: pointer;
}

.menu__close-button {
  display: inline-block;
  margin-left: 1.2rem;
}

.menu__close-icon-line1 {
  transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 1);
}

.menu__close-icon-line2 {
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, -5);
}

.menu__close-icon-line1,
.menu__close-icon-line2 {
  width: 1.25rem;
  height: .125rem;
  background-color: var(--white-color);
  margin: .25rem 0;
}

a:hover .menu__triangle-icon {
  display: flex;
  visibility: visible;
}

.menu__list:hover .menu__items a {
  color: var(--dark-color);
}

.menu__list .menu__items a:hover,
.menu__list .menu__items a:active {
  font-family: 'Teko-SemiBold', sans-serif;
  color: var(--white-color);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .menu {
    align-items: center;
  }

  .menu__content {
    padding: 5rem 7.5% 0 7.5%;
  }

  .menu__items {
    padding: 1rem 0 0.2rem 0;
  }

  .menu__container {
    width: 85%;
    padding: .6rem 0;
  }

  .menu__items a {
    font-size: 4rem;
  }

  .menu__landen,
  .menu__social {
    position: absolute;
    display: flex;
    visibility: visible;
    background-color: var(--black-color);
  }

  .menu__landen {
    left: 7.5%;
    top: 4.1rem;
  }

  .menu__social {
    left: 7.5%;
    bottom: 15%;
  }

  .menu__landen-items li {
    color: var(--light-font-color);
  }

  .menu__landen-items li,
  .menu__social-items li {
    line-height: .94rem;
  }

  .menu__social-items li,
  .menu__landen-items li,
  .menu__landen-items a,
  .menu__social-items a {
    display: flex;
    align-items: center;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: .7rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    visibility: visible;
    cursor: pointer;
  }

  .menu__landen-items a > .menu__triangle-icon,
  .menu__social-items a > .menu__triangle-icon {
    height: .8rem;
  }

  .menu__landen-items a:hover,
  .menu__landen-items a:hover {
    font-family: 'OpenSans-SemiBold', sans-serif;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .menu__social {
    bottom: 10%;
  }

  .menu__items {
    padding: 1.3rem 0 .4rem 0;
  }

  .menu__items a {
    font-size: 5rem;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .menu__social {
    bottom: 13%;
  }

  .menu__landen {
    top: 5.1rem;
  }

  .menu__landen-items li,
  .menu__social-items li,
  .menu__landen-items a,
  .menu__social-items a {
    line-height: 1rem;
    font-size: .9rem;
  }

  .menu__items {
    padding: 1.4rem 0 .5rem 0;
  }

  .menu__items a {
    font-size: 5rem;
  }
}
