.form > form {
  display: flex;
  flex-direction: column;
  padding: 2.2rem 2rem 4rem 2rem;
  visibility: visible;
}

.form__title {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: 'Teko-Light', sans-serif;
  color: var(--dark-color);
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: .07rem;
  visibility: visible;
}

.form__title span {
  margin-right: .4rem;
}

.form__input-field {
  position: relative;
  padding-top: 2rem;
  margin: 1rem 0 1rem 0;
}

.form__input-field > label {
  position: absolute;
  left: 0;
  top: 0;
  text-align: initial;
  font-family: 'OpenSans-Bold', sans-serif;
  color: var(--dark-color);
  font-size: 1rem;
  text-transform: uppercase;
  width: 100%;
  box-sizing: inherit;
  cursor: text;
}

.form__input-field > textarea {
  resize: none;
}

.form__input-field > input {
  height: 2rem;
}

.form__input-field > textarea,
.form__input-field > input {
  font-family: 'OpenSans-Regular', sans-serif;
  color: var(--dark-color);
  font-size: 1rem;
  letter-spacing: .05rem;
  line-height: 1.3;
  margin: 0 0 8px 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid var(--input-border-color);
  border-radius: 0;
  border: none;
  box-sizing: content-box;
  box-shadow: none;
  transition: box-shadow .5s ease-in-out;
}

.form__input-field textarea:focus,
.form__input-field input:focus {
  box-shadow: 0 0 .3rem .1rem var(--blue-color);
}

.form__submit > input[type='submit'] {
  background-color: var(--blue-color);
  min-width: 143px;
  min-height: 51px;
  font-family: 'OpenSans-SemiBold', sans-serif;
  color: var(--white-color);
  font-size: .93rem;
  letter-spacing: .04rem;
  text-transform: uppercase;
  padding: 0.9rem 3.5rem;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: box-shadow .5s ease-in-out;
  cursor: pointer;
}

.form__submit > input[type='submit']:hover {
  box-shadow: 0 0 .3rem .1rem var(--blue-color);
}

.form__required-message {
  display: none;
  visibility: hidden;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .form > form {
    flex-direction: row;
    padding: 2.5rem 7.5% 3.5rem 7.5%;
  }

  .form__column {
    display: flex;
    flex-direction: column;
    visibility: visible;
  }

  .form__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    visibility: visible;
  }

  .form__title {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-right: 5rem;
    visibility: visible;
  }

  form > .form__column ~ .form__column {
    width: 60%;
  }

  .form__input-field {
    width: 47%;
  }

  .form__required-message {
    display: block;
    font-family: 'OpenSans-Regular', sans-serif;
    color: var(--red-color);
    font-size: .7rem;
    visibility: visible;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .form__title {
    font-size: 2.5rem;
  }

  .form__required-message {
    font-size: .8rem;
  }
}
