.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-color);
  padding: 1.2rem;
  visibility: visible;
}

.clients__logo {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 2rem;
  visibility: visible;
}

.clients__logo img {
  cursor: pointer;
  transform: none;
  transition: transform .2s ease-in-out;
}

.clients__logo img:hover {
  transform: rotate(20deg);
}

.clients__title {
  font-family: 'Teko-Light', sans-serif;
  color: var(--dark-color);
  font-size: 2.2rem;
  letter-spacing: .07rem;
  text-transform: uppercase;
  margin: 1.4rem 0;
}

.clients__content {
  font-family: 'OpenSans-Regular', sans-serif;
  color: var(--dark-color);
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.8rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clients__images {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
  visibility: visible;
}

.clients__images--desktop-only {
  display: none;
  visibility: hidden;
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .clients {
    padding: 1.2rem 7.5% 3rem 7.5%;
  }

  .clients__title {
    margin: 1.2rem 0 .5rem 0;
  }

  .clients__content {
    width: 60%;
    font-size: 1rem;
  }

  .clients__images {
    display: none;
    visibility: hidden;
  }

  .clients__images--desktop-only {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
    padding: 1rem 5rem 0 5rem;
    visibility: visible;
  }

  .clients__logo {
    width: 25%;
    padding: 1.3rem;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .clients__content {
    font-size: 1.1rem;
  }

  .clients__logo {
    padding: 2rem;
  }
}
