.cards__card-with-image,
.cards__card-with-image--highlighted,
.cards__card-with-text,
.cards__card-with-testemonials {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem 0 1.5rem 0;
}

.cards__card-with-text {
  padding-right: 2rem;
}

.cards__card-with-testemonials {
  padding: 3rem 0 3rem 0;
  margin-top: 4rem;
  border-top: 0.09rem solid var(--light-border-color);
}

.works__cards-column > .cards__card-with-text {
  border-bottom: 0.09rem solid var(--light-border-color);
  border-top: 0.09rem solid var(--light-border-color);
}

.works__cards-column > .cards__card-with-text ~ .cards__card-with-text {
  border-top: none;
}

.cards__card-image {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.cards__card-name {
  margin-bottom: 1.5rem;
  font-family: 'OpenSans-SemiBold', sans-serif;
  text-transform: uppercase;
  color: var(--gray-font-color);
  font-size: 1rem;
}

.cards__card-title {
  font-family: 'Teko-Light', sans-serif;
  color: var(--dark-color);
  font-size: 2.2rem;
  line-height: 2.3rem;
  letter-spacing: 0.07rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cards__card-with-text > .cards__card-title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.04rem;
}

.cards__card-content {
  font-family: 'Teko-Light', sans-serif;
  color: var(--dark-color);
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.04rem;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.cards__card-author {
  font-family: 'OpenSans-SemiBold', sans-serif;
  text-transform: uppercase;
  color: var(--dark-color);
  font-size: 1rem;
}

.cards__button {
  display: none;
  visibility: hidden;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .cards__card-image {
    height: 22rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .cards__card-with-image {
    width: 49%;
  }

  .cards__card-with-testemonials {
    width: 100%;
    padding: 3rem 7.5rem 3rem 7.5rem;
  }

  .cards__card-with-image--highlighted {
    width: 60%;
  }

  .works__desktop-only > .cards__card-with-image--highlighted {
    width: 100%;
  }

  .cards__card-with-image--highlighted > .cards__card-image {
    height: 21rem;
  }

  .cards__card-with-text {
    padding: 1rem 0 1rem 0;
    height: 10.5rem;
  }

  .cards__card-image {
    height: 18rem;
    margin-bottom: 1rem;
  }

  .cards__card-name {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .cards__card-title {
    font-size: 1.6rem;
    line-height: 2rem;
    letter-spacing: 0.05rem;
  }

  .cards__card-content {
    -webkit-line-clamp: 3;
  }

  .cards__card-with-image > .cards__card-title,
  .cards__card-with-image--highlighted > .cards__card-title {
    display: block;
    visibility: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
  }

  .cards__card-with-testemonials > .cards__card-content:hover,
  .cards__card-with-image > .cards__card-title:hover,
  .cards__card-with-image--highlighted > .cards__card-title:hover {
    overflow: visible;
    white-space: normal;
    display: block;
    visibility: visible;
  }

  .cards__card-with-text > .cards__card-title {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .cards__button {
    display: flex;
    visibility: visible;
    align-items: center;
    background-color: transparent;
    color: var(--blue-color);
    border: 1px solid transparent;
    font-family: 'OpenSans-SemiBold', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 0;
    margin-top: 0.8rem;
    cursor: pointer;
    width: 5.5rem;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
  }

  .cards__button:hover {
    border-bottom: 1px solid var(--blue-color);
  }

  .cards__button-icon {
    filter: invert(14%) sepia(95%) saturate(4414%) hue-rotate(244deg)
      brightness(86%) contrast(130%);
    height: 0.9rem;
    margin-right: 0.5rem;
    transition: margin-right 0.2s ease-in-out;
  }

  .cards__button:hover .cards__button-icon {
    margin-right: 0.8rem;
  }
}
