.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 7rem;
  overflow: auto;
  z-index: 2;
}

.modal__title {
  font-family: 'Teko-Light', sans-serif;
  font-size: 2.2rem;
  color: var(--dark-color);
  letter-spacing: .07rem;
  line-height: 2.3rem;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  background-color: var(--white-color);
  width: 80%;
  height: 70%;
  padding: 20px;
  margin: auto;
  animation: scale-up-center .6s cubic-bezier(.39, .575, .565, 1) both;
  box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, .35);
}

.modal__close-button {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: .93rem;
  letter-spacing: 0.04rem;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--blue-color);
  padding: 0.9rem 3.5rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: box-shadow .5s ease-in-out;
  cursor: pointer;
}

.modal__close-button:hover {
  box-shadow: 0 0 .3rem .1rem var(--blue-color);
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .modal__title {
    font-size: 2.5rem;
    line-height: 2rem;
    letter-spacing: .05rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .modal__content {
    width: 70%;
    height: 60%;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .modal__content {
    width: 60%;
    height: 50%;
  }
}
