.header {
  display: flex;
  visibility: visible;
  flex-direction: column;
  width: 100vw;
}

.header__container,
.header__container--scrolled {
  position: fixed;
  background-color: var(--white-color);
  display: flex;
  visibility: visible;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .6rem 1.25rem;
  z-index: 1;
}

.header__container--scrolled {
  background-color: rgba(255, 255, 255, .9);
  border-bottom: 1px solid var(--white-color);
}

.header__logo {
  font-family: 'OpenSans-ExtraBold', sans-serif;
  color: var(--dark-color);
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  text-transform: uppercase;
  text-decoration: none;
}

.header__menu {
  display: flex;
  align-items: center;
  visibility: visible;
  cursor: pointer;
}

.header__menu-icon {
  display: inline-block;
  margin-left: 1.2rem;
}

.header__menu-icon-line {
  background-color: var(--dark-color);
  width: 1.25rem;
  height: .125rem;
  margin: .25rem 0;
}

.header__menu-text {
  font-family: 'OpenSans-Bold', sans-serif;
  font-size: 1rem;
  color: var(--dark-color);
  letter-spacing: -0.5px;
  text-transform: uppercase;
}

.header__highlight {
  position: relative;
  width: 100%;
}

.header__mobile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__desktop-image {
  display: none;
  visibility: hidden;
}

.header__title {
  position: absolute;
  top: 3.6rem;
  left: 1.7rem;
  font-family: 'Teko-Light', sans-serif;
  font-size: 10rem;
  color: var(--black-color);
  letter-spacing: .5rem;
  text-transform: uppercase;
}

.header__button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1.4rem;
  visibility: visible;
}

.header__button {
  background-color: var(--black-color);
  width: 100%;
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-size: 1rem;
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: .03rem;
  border: none;
  box-shadow: none;
  transition: box-shadow .5s ease-in-out;
  padding: .8rem 0;
  margin: 0 1rem;
  cursor: pointer;
}

.header__button:hover {
  box-shadow: 0 0 .3rem .1rem var(--dark-color);
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .header__title {
    font-size: 13.7rem;
    top: 4rem;
    left: 1.8rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .header {
    align-items: center;
  }

  .header__title {
    top: 3.4rem;
    left: 7.5%;
    font-size: 14.2rem;
    letter-spacing: .4rem;
  }

  .header__container {
    width: 85%;
    background-color: transparent;
    border-bottom: 1px solid black;
  }

  .header__container--scrolled {
    width: 100%;
    padding: 0.6rem 7.5%;
  }
 
  .header__container,
  .header__container--scrolled {
    padding: 0.6rem 0;
  }

  .header__menu-text {
    font-family: 'OpenSans-Regular', sans-serif;
  }

  .header__mobile-image {
    display: none;
    visibility: hidden;
  }

  .header__desktop-image {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: kenburns-bottom-right 8s ease-out both;
    visibility: visible;
  }

  .header__button-container {
    position: absolute;
    bottom: 2rem;
    right: 7.5%;
    justify-content: flex-end;
    margin-top: 0;
    width: 100%;
  }

  .header__button {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: .8rem;
    padding: .6rem 2rem;
    letter-spacing: .03rem;
    width: 18%;
    margin: 0;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .header__title {
    font-size: 19rem;
    top: 4rem;
  }

  .header__desktop-image {
    max-height: 700px;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .header__title {
    font-size: 22rem;
    top: 4rem;
  }

  .header__desktop-image {
    max-height: 700px;
  }
}
