.works {
  display: flex;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  width: 100%;
  visibility: visible;
}


.works__cards-line,
.works__cards-line--reverse {
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: visible;
}

.works__cards-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  visibility: visible;
}

.works__error-message {
  font-family: 'Teko-Light', sans-serif;
  font-size: 2.2rem;
  color: var(--dark-color);
  line-height: 2.3rem;
  letter-spacing: .07rem;
  margin-top: 2rem;
}

.works__desktop-only {
  display: none;
  visibility: hidden;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .works {
    padding: 1rem 1rem 3rem 1rem;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .works {
    padding: 1rem 7.5% 3rem 7.5%;
  }

  .works__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    visibility: visible;
  }

  
  .works__cards-line {
    flex-direction: row;
    justify-content: space-between;
  }
  
  .works__cards-line--reverse {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .works__cards-column {
    width: 35%;
    margin-top: 1.5rem;
  }

  .works__desktop-only {
    display: flex;
    flex-direction: column;
    width: 60%;
    visibility: visible;
  }
}
