.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  padding: 4rem 1.2rem 3rem 1.2rem;
  visibility: visible;
}

.footer__top-column {
  display: none;
  visibility: hidden;
}

.footer__title {
  display: none;
  visibility: hidden;
}

.footer__list {
  display: flex;
  flex-direction: column;
  width: 50%;
  visibility: visible;
}

.footer__social-item {
  padding-bottom: 1.7rem;
}

.footer__social-item a:focus img {
  outline: 1px solid var(--blue-color);
}

.footer__social-item img {
  height: 1.7rem;
  transform: none;
  transition: transform .2s ease-in-out;
  cursor: pointer;
}

.footer__social-item img:hover {
  transform: rotate(20deg);
}

.footer__menu {
  display: flex;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--dark-color);
  visibility: visible;
}

.footer__menu-item a {
  font-family: 'Teko-Light', sans-serif;
  color: var(--white-color);
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .08rem;
  cursor: pointer;
}

.footer__menu-item a:hover {
  color: var(--light-font-color);
  font-size: 2.1rem;
}

.footer__menu > .footer__list ~ .footer__list {
  align-items: flex-end;
}

.footer__info-section {
  display: flex;
  flex-direction: column;
  visibility: visible;
}

.footer__info-section p {
  font-family: 'OpenSans-Light', sans-serif;
  font-size: 0.9rem;
  color: var(--light-font-color);
  letter-spacing: 0.02rem;
  line-height: 1.4rem;
}

.footer__company-info {
  padding-top: 2rem;
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .footer {
    padding: 4rem 7.5% 3rem 7.5%;
  }

  .footer__menu {
    justify-content: flex-end;
    padding-bottom: 0;
  }

  .footer__list {
    width: 75%;
    flex-direction: row;
  }

  .footer__menu-item {
    display: flex;
    padding: 0 .8rem 0 0;
    visibility: visible;
  }

  .footer__social-item {
    padding: 0 0 1.6rem 1rem;
  }
  
  .footer__social-item img {
    height: 1.5rem;
  }

  .footer__menu-item a {
    font-size: 1.7rem;
  }

  .footer__menu-item a:hover {
    font-size: 1.9rem;
  }

  .footer__menu > .footer__list ~ .footer__list {
    width: 25%;
    justify-content: flex-end;
  }

  .footer__company-info,
  .footer__info-section {
    display: flex;
    visibility: visible;
  }

  .footer__company-info p {
    margin-right: 1.5rem;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1025px) {
  .footer {
    flex-direction: row;
    background-color: var(--white-color);
    padding: 0;
  }

  .footer__line {
    width: 90%;
    background-color: var(--black-color);
    padding: 4rem 7.5% 3rem 7.5%;
  }

  .footer__list {
    align-items: flex-end;
  }

  .footer__title {
    display: flex;
    font-family: 'OpenSans-ExtraBold', sans-serif;
    font-size: 2.2rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.01rem;
    width: 200px;
    visibility: visible;
  }

  .footer__menu-item {
    padding-right: 1.5rem;
  }

  .footer__menu-item a {
    font-size: 1.5rem;
  }

  .footer__menu-item a:hover {
    font-size: 1.7rem;
  }

  .footer__social-item {
    padding: 0 0 .6rem 1rem;
  }
  
  .footer__company-info {
    justify-content: space-between;
    width: 75%;
  }

  .footer__info-section {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
    visibility: visible;
  }

  .footer__info-section > .footer__company-info ~ .footer__company-info {
    justify-content: flex-end;
    width: 25%;
  }

  .footer__company-info p {
    font-size: 0.7rem;
    margin-right: 0;
  }
  
  .footer__top-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    visibility: visible;
  }

  .footer__top-column img {
    height: 2rem;
    transition: height .2s ease-in-out;
    filter: brightness(86%) contrast(130%) invert(14%) sepia(95%) saturate(4414%) hue-rotate(244deg) ;
  }

  .footer__top-column .footer__top-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 38%;
    background-color: transparent;
    font-family: 'Teko-Regular', sans-serif;
    color: var(--blue-color);
    font-size: 1.5rem;
    text-decoration: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    visibility: visible;
  }

  .footer__top-column .footer__top-button:hover img {
    height: 2.8rem;
  }
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  .footer__top-column .footer__top-button {
    width: 40%;
    height: 38%;
    font-size: 1.8rem;
  }

  .footer__top-column img {
    height: 2.2rem;
  }

  .footer__company-info p {
    font-size: .9rem;
  }

  .footer__menu-item a {
    font-size: 1.7rem;
  }

  .footer__menu-item a:hover {
    font-size: 1.9rem;
  }

  .footer__top-column .footer__top-button:hover img {
    height: 3rem;
  }
}
