.filters {
  display: flex;
  visibility: visible;
  flex-direction: column;
  padding: 1rem 1rem .5rem 1rem;
}

.filters__label-works,
.filters__label-industries {
  font-family: 'Teko-Light', sans-serif;
  color: var(--gray-font-color);
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 1.4rem;
}

.filters__select-works,
.filters__select-industries {
  display: block;
  height: 1.5rem;
  margin: 0 0 0 .4rem;
  font-family: 'Teko-Regular', sans-serif;
  color: var(--dark-font-color);
  font-size: 1.5rem;
  letter-spacing: .05rem;
  line-height: 1.5rem;
  background-image: url('../../assets/images/triangle-select.png');
  background-position: right 0 top 50%, 0 0;
  background-size: .65rem auto, 100%;
  background-repeat: no-repeat, repeat;
  background-color: var(--white-color);
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  appearance: none;
  visibility: visible;
}

.filters__select-industries {
  min-width: 120px;
  width: 32%;
}

.filters__select-works {
  min-width: 80px;
  width: 22%;
}

.filters__select::-ms-expand {
  display: none;
  visibility: hidden;
}

.filters__filter-industries,
.filters__filter-works {
  display: flex;
  margin-top: 1rem;
  visibility: visible;
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  .filters__select-industries {
    width: 28%;
  }

  .filters__select-works {
    width: 20%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
  ##and
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
  ##and
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 768px) {
  .filters {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem 7.5% .5rem 7.5%;
  }

  .filters__label-industries {
    width: 1rem;
  }

  .filters__label-works {
    width: 4.2rem;
  }

  .filters__filter-industries {
    max-width: 9.5rem;
    margin-left: 1rem;
  }

  .filters__filter-works {
    max-width: 12rem;
  }

  .filters__filter-industries,
  .filters__filter-works {
    justify-content: flex-end;
  }

  .filters__select-industries {
    width: 7.7rem;
  }

  .filters__select-works {
    width: 5.2rem;
  }
}
